
                                         /*Icons*/

.Header__icons{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    font-size: 18px;
    color: var(--white);
    font-weight: normal;
    cursor: pointer;
}
 .Header{
     background-color: black;
 }
.Header__icons__phone{
    padding: 30px;
}

.Header__icons__envelope{
    margin-right: 20px;
}
.Header__icons__user,
.Header__icons__cart{
margin-right: 2em;
} 


.Header__hr{
    border: 1px solid var(--brown);
}

.header__shopCategory{
    background-color: black;
}

.seachDiv{
    display: flex;
    justify-content: space-between;
     width: 400px; 
    background-color: var(--white);
    color: black;
    border: none;
    margin-right: 4em;
}

#seach{
    border: none;
    color: var(--brown);
   
}

.headerSingleProdukt_Icons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 24px;
    color: var(--white);
    font-weight: normal;
    cursor: pointer;
}

.Header__logo{
    width: 50px;
    margin-left: 1em;
}

.Header__socMedia{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header__Icons{
    font-size: 18px;
}

.Header__icons__user{
    margin-right: 1em;
}
